
<div id="blog">
    <h1>The Inspiration</h1>
    <br>
    <h3>The inventor of the internet, Tim Berners-Lee, has been alleged by the makers of this site to have said: </h3>
<br>
    <h3>"I invented the internet for one reason: cats. All of these emails, news stories, and posting heavily staged photos to make your life look worlds better than it actually is, is just ancillary crap that eats away at the already decreped heart of humanity. Fundamentally, the internet should only be getting used for one purpose and one purpose alone: cats. Anything else is just internet blasphemy"</h3>
<br>
    <h3>We, makers of cat consumption media interfaces, are aiming to do nothing more than live our lifes with integrity and self-respect and never-ending adoration for nature's most ruthless, cold-hearted, just-small-enough-that-they-can't-kill-you-easily, mammals on earth.</h3>

    <h3>What, 20lb mammal besides a cat would see a 500lb bear and decide to attack it? Maybe a toddler on a weekend bender, but beside that, nothing. WHAT besides a cat would stalk the person who feeds them throughout their own house? blahb albha lbha blhab laibwlhrbwijeowjb FIX THIS</h3>
</div>