
<div id="blog">
    <h1>The Inspiration</h1>
    <br>
    <h4>The inventor of the internet, Tim Berners-Lee, has been alleged by the makers of this site to have said: </h4>
<br>
    <h3>"I invented the internet for one reason: cats. All of these emails, news stories, and posting heavily staged photos to make your life look worlds better than it actually is, is just ancillary crap that eats away at the already decreped heart of humanity. Fundamentally, the internet should only be getting used for one purpose and one purpose alone: cats. Anything else is just internet blasphemy"</h3>
<br>
