
<!-- Get the feeling that I'm repeating myself in Angular.html on fb login crap -->
<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1398205403780400',
          status     : true,
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

<br>
<br>

<!-- the onCatClick and onPostClick have been switched allowing user to click the winner -->
<div id="wrapper">
    <div id="col_1">
        <div ng-show="image" id="cat_side"><img id="cats" ng-click="onPostClick()" src="{{ media_url }}{{ image.image }}"></div>
    </div>

    <div id="col_2">
        <h4 id="battlezone">CATOFF!</h4><br>
        <h6 id="fight_text">Click the Champion!</h6>
        <img id="torch" src="a_cat/media/cats/Torch-06-june.gif"></div>
    </div>

    <div id="col_3">
        <div ng-click="onCatClick()" class="post_side">
            <img id="fb_display_picture" src="{{ picture }}">
            <p id="fb_display_name">{{ name }}</p>
            <br>
            <p id="fb_post">{{ post }}</p>
        </div>
    </div>
</div>