{% load static %}

<!doctype html>
<html>
<head>
    <!-- jQuery -->
    <script type="text/javascript" src={% static 'js/vendor/jquery-1.11.0.js' %}></script>

    <!-- Angular Files -->
    <script type="text/javascript" src={% static 'js/vendor/angular.js' %}></script>
    <script type="text/javascript" src={% static 'js/vendor/angular-route.js' %}></script>
    <script type="text/javascript" src={% static 'js/vendor/angular-resource.js' %}></script>
{#    <script src="{% get_static_prefix %}js/vendor/angular.js"></script>#}
{#    <script src="{% get_static_prefix %}js/vendor/angular-route.js"></script>#}
{#    <script src="{% get_static_prefix %}js/vendor/angular-resource.js"></script>#}

    <!-- JavaScript Files -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/factory.js' %}"></script>

    <!----- Controllers ----->
    <script type="text/javascript"  src={% static 'js/controllers/index.js'%}></script>
    <script type="text/javascript"  src={% static 'js/controllers/cathide.js'%}></script>

    <!-- CSS Files -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css">


</head>
<body>

    <div id="fb-root"></div>   <!--< < Facebook Button Stuff -->
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1398205403780400";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

<div class="nav">
    <ul>                           <!--< < Nav Bar Beginnings...-->
        <li id="fb_login"><a href="#/facebook/"><div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div></a></li>
<!--        <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li> -->
        <li id="cats_vs_posts"><a href="/"<h4>Cats VS Posts</h4></li>
        <li id="about"><a href="#/blog">About/Blog</a></li>
    </ul>
</div>

<br>

    <div ng-app="a_cat">
        <div ng-view></div>
    </div>



<!--    <h6>also every page..</h6>  -->
</body>
</html>